@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");


body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
  background: rgba(255, 255, 255, 0.973);
}

.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color:#ae0000f3
}

/* slider */
.carousel-item {
  height: 60vh;
}

.carousel-caption {
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 0.5rem;
}

.carousel-caption h3 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn-lg {
  font-size: 1rem;
}

/* issue css */
#is-content {
  margin-top: 4rem;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1ebba3;
  background-color: #1ebba3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #ae0000f3;
  margin: 0 auto 2rem;
}

.bg-maron {
  background: rgba(255, 255, 255, 0.295);
}

/* footer */
footer {
  font-size: 16px;
  padding: 2rem 0 0 0;
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.7);
 
}

footer .footer-top {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-section h6 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-transform: uppercase;
}
.footer-section ul li a{
  color:  rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 0 .2rem;
}

.footer-bottom {
  text-align: center;
  padding: 1.2rem;
  background: #000000;
}

.footer-bottom p {
  color: rgba(255, 255, 255, 0.5);
}

/* issue css */
.form-group .is-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
  width: 100%;
}

.form-group textarea {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  padding-left: 18px;
  padding-top: 13px;
  font-size: 13px;
  background: transparent;
  width: 100%;
  letter-spacing: 0.01rem;
}

input:hover,
input:focus {
  outline: none !important;
}

.is-content {
  padding: 1.2rem;
}

.is-head {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.is-head h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
  
}

.button {
  background-color: #ae0000cc; /* Green */
  border: none;
  color: white;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0.01rem;
}
.button:hover{
  background-color:#ae0000f3;
}

/* media queries */

@media (max-width: 767px) {
  .carousel-caption h1 {
    font-size: 2.3em;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }

  .carousel-caption h3 {
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
  }
  .btn-lg {
    font-size: 1.1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
  p.lead {
    font-size: 1rem;
  }
}

/*============ BOOTSTRAP BREAK POINTS:


Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
